{{ partial "header.html" . }}
<body>
  {{ partial "sidebar.html" . }}
  <div class="content container">
    <div class="posts">
     {{ $Site := .Site }}
     {{ range .Paginator.Pages }}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </h1>
        <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ partial "categories.html" . }}
        <article class="post-summary">
          {{ .Summary }}
        </article>
        {{ partial "tags.html" . }}
        {{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">Read More...</a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
  <div class="pagination">
    {{ if .Paginator.HasPrev }}
    <a class="pagination-item" href="{{ .Paginator.Prev.URL }}">Next</a>
    {{ else }}
    <span class="pagination-item">Next</span>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a class="pagination-item" href="{{ .Paginator.Next.URL }}">Previous</a>
    {{ else }}
    <span class="pagination-item">Previous</span>
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
