{{ partial "header.html" . }}
<body>
  {{ partial "sidebar.html" . }}
  <div class="content container">
    <h1>{{ .Title }}</h1>
    <div class="page">
     {{ range .Data.Pages.GroupByDate "January 2006" }}
      <div class="page">
        <h3 class="page-date">
           {{ .Key }}
        </h3>
        <ul>
        {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </div>
     {{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
