/*
 * Post Categories
 */

.post-categories {
  clear: left;
  margin-bottom: 0.5rem
}

.post-category {
  margin: 0 0.1rem;
  padding: 0.2rem 0.5rem;
  color: #fff;
  background: #999;
  font-size: 0.75rem;
}

a.post-category {
  text-decoration: none;
}

a.post-category:hover {
  color: #fff;
  text-decoration: underline;
}

/*
 * Custom categories
 * You should add any new category here
 */

.post-category-devop {
  background: #1F596E
}

.post-category-tutorial {
  background: #478C85
}

.post-category-orm {
  background: #300030 
}

.post-category-api {
  background: #159818;
}
.post-category-frameworks {
  background: #3b4489;
}
.post-category-programming-languages {
  background: orange;
}
.post-category-database {
  background: #578b96;
}
.post-category-tools {
  background: #55072A;
}
