<div class="form-contact">
   <h4 class="center">Do you have a question about Software Development?</h4>
   <p class="center">Connect with me for consultation</p>
   <form id="contact-form" method="POST" action="http://formspree.io/{{ .Site.Params.contact_email }}" class="form">
      <div class="form-item">
         <label>Email<span class="req">*</span></label>
         <input type="email" name="email" class="w50">
         <div class="desc">Please write your email address to get back to you.</div>
      </div>
      <div class="form-item">
         <label>Message<span class="req">*</span></label>
         <textarea name="message" rows="6"></textarea>
         <div class="desc">What can I do for you?</div>
      </div>
      <div class="form-item">
         <button type="submit">Contact Now</button>
         <label><span id="form-contact-info"></span></label>
      </div>
   </form>
</div>
