<nav class="pagination align-center upper pager flat">
  <ul>
    <li class="prev">
      {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">&lt; Prev</a>
      {{ else }}
      <span>&lt; Prev</span>
      {{ end }}
    </li>
    <li class="w100 align-center">
      <a href="{{ .Paginator.First.URL }}">Back to Catalog</a>
    </li>
    <li class="next">
      {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">Next &gt;</a>
      {{ else }}
      <span>Next &gt;</span>
      {{ end }}
    </li>
  </ul>
</nav>
