<h4>Follow me on</h4>
<ul class="social-icons">
    {{ with .Site.Params.twitter }}<li><a href="{{.}}" class="social-icon"> <i class="fa fa-twitter"></i></a></li>{{ end }}
    {{ with .Site.Params.github }}<li><a href="{{.}}" class="social-icon"> <i class="fa fa-github"></i></a></li>{{ end }}
    {{ with .Site.Params.linkedin }}<li><a href="{{.}}" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>{{ end }}
    {{ with .Site.BaseURL }}<li><a href="{{.}}/index.xml" class="social-icon"> <i class="fa fa-rss"></i></a></li>{{ end }}
</ul>
