hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

#top-nav-main a.active {
  font-weight: 700;
}

.pager.flat ul {
  flex-direction: row;
  justify-content: space-between;
}

.pager.flat a, .pager.flat span {
  padding: 0;
  display: inline;
}

.pager.flat li.next {
  text-align: right;
}

@media all and (max-width: 600px) {
  .append {
    flex-flow: column wrap;
  }

  .append input {
    min-height: 40px;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .append button {
    margin: 0;
    margin-left: -1px;
    border-radius: 3px !important;
  }
}
